body {
  background-color: #101010;
  color: #fff;
}
p {
  margin-bottom: 0;
}

a, a:hover, a:visited, a:active {
  color: #fff;
  text-decoration: none;
}


.container-fluid {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  margin: 0;
  padding: 0;
}

/* .container {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
} */


.pirata {
  font-family: 'Pirata One', cursive;
}
.text-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  height: 100%;
  width: 90%;
  padding-top: 2.5rem;

   /* Add padding to position the content as desired */
}

.hero-row {
  display: flex;
  flex-direction: column;
  align-items: end; /* Align content to the right */
  width: 100%;
  padding-left: auto;
  padding-right: 0.25rem;
}

.home-hero {
  font-size: 5rem;
  text-align: right;
  line-height: 90%;
}
.hero-line {
  height: 3px;
  width: 60%;
  background: white;
}
.home-sub-hero {
  /* position: absolute; */
  /* top: 35%;
  right: 7%; */
  text-align: right;
  font-size: 1.5rem;
}

.links {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  flex-direction: column;
}

.links:hover {
  opacity: 0.5;
}

.link-container {
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url('./assets/star-oval-button.png'); /* Replace with your oval image path */
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(1em + 9rem); /* Adjust the width based on font size */
  height: calc(1em + 3rem); /* Adjust the height based on font size */
  padding-left: 0; /* Adjust the left padding as desired */
  padding-right: 0; /* Adjust the right padding as desired */
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0 0;
}






/* Creating the background circle animation*/
/* Define the rotation animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-circle-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex; /* Add flex to the container */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column; /* Stack content vertically */
}
/* Apply the rotation animation to the background */
.bg-circle {
  position: absolute;
  filter: invert(0.25);
  left: 15%;
  top: 2%;
  width: 75%;
  height: auto;
  z-index: -1;
  animation: rotate 60s linear infinite;
}

/* Media queries for different screen sizes */

@media screen and (min-width: 900px) and (max-width: 1435px) {
  .text-container {
    padding-top: 5rem;

  }
  .hero-row {
    padding-left: 15rem;
    padding-right: auto;
  }
  .home-hero {
    font-size: 8rem;

  }
  .home-sub-hero {
    font-size: 2rem;
  }

  .links {
    font-size: 3rem;
    margin-top: 2rem;
    flex-direction: column;
  }
  
  .link-container {
    width: calc(1em + 15rem);
    height: calc(1em + 6.5rem);
  }

  
}
  


@media screen and (min-width: 1436px) {
  .text-container {
    padding-top: 15rem;

  }
  .hero-row {
    padding-left: 15rem;
    padding-right: auto;
  }
  .home-hero {
    font-size: 15rem;

  }
  .home-sub-hero {
    font-size: 2.5rem;
  }

  .links {
    font-size: 4rem;
    margin-top: 9rem;
    flex-direction: row;
  }
  
  .link-container {
    
    width: calc(1.5em + 14rem); /* Adjust the width based on font size */
    height: calc(1.5em + 4.5rem); /* Adjust the height based on font size */
    padding-left: 10rem; /* Adjust the left padding as desired */
    padding-right: 10rem; /* Adjust the right padding as desired */
    padding-top: 0;
  padding-bottom: 0;
    margin: 0 1.5rem;
  }
  .bg-circle {
    position: absolute;
    filter: invert(0.25);
    left: 26vw;
    top: 6vh;
    width: 65vh;
    height: 65vh;
    z-index: -1;
    animation: rotate 60s linear infinite;
  }
  
}
  
