.corner-frame-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  .corner-frame {
    position: absolute;
    width: 45vw; /* Adjust the width and height according to your image size */
    height: 45vw;
    filter: invert(1);
    padding: 2px;
  }
  
  .top-left {
    top: 0;
    left: 0;
  }
  
  .top-right {
    top: 0;
    right: 0;
    transform: rotate(90deg);
  }
  
  .bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }

  @media screen and (min-width: 768px) {
    .corner-frame {
      width: 20vw; /* Adjust the width and height according to your image size */
      height: 20vw;
      padding: 10px;
    }
  }
    

  